
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phép tính</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        input{
            margin-left: -50px;
            width:50% !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-primary">Phép tính Demo4</h2>
        <form method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="txtSoA">Số A:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="SoA" id="txtSoA" />
                </div>
            </div><br />
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="txtSoB">Số B:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="SoB" id="txtSoB" />
                </div>
            </div><br />
                  <div class="form-group row">
                      <div class="offset-sm-2 col-sm-10">
                          <button class="btn btn-info" type="submit" formaction="@Url.Action("TinhTong")">Tổng</button> &nbsp;&nbsp;
                          <button class="btn btn-warning" type="submit" formaction="@Url.Action("TinhTich")">Tích</button><br />
                      </div>
                  </div>
            <h4 class="text-success">@ViewBag.KetQua</h4>
        </form>
    </div>
</body>
</html>
