
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phép tính</title>
</head>
<body>
    <div class="container">
        <h2>Phép tính Demo4</h2>
        <form method="post">
            <div>
                <label for="txtSoA">Số A:</label>
                <input type="text" name="SoA" id="txtSoA" />
            </div><br />
            <div>
                <label for="txtSoB">Số B:</label>
                <input type="text" name="SoB" id="txtSoB" />
            </div><br />
            <div class="col-6">
                <button type="submit" formaction="@Url.Action("TinhTong")">Tổng</button>
                <button type="submit" formaction="@Url.Action("TinhTich")">Tích</button><br />
            </div>
            <h4>@ViewBag.KetQua</h4>
        </form>
    </div>
</body>
</html>
