
@{// C#
    // Không sử dụng layout
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thông tin học viên</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
</head>
<body>
    <div class="container">
        <h2 class="text-primary">Thông tin học viên</h2>
        <p>Họ tên: Nguyễn Gia Bảo</p>
        <p>Gmail: nguyengiabao.ngb97@gmail.com</p>
    </div>
</body>
</html>
